.container {
    max-width: 800px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .text-gold {
    color:green;
  }
  
  .btn-warning {
    background-color:green;
    color: #000;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
  .form-control {
    border: 1px solid green;
  }
  
  .card {
    border: none;
  }
  
  .card-body {
    padding: 1.5rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  